menu "Gionee specific support"

#Camera

config GN_CAMERA_SUPPORT
	bool "GN_CAMERA_SUPPORT"
	default y


#Haptic

config GN_Q_BSP_ISA1200_LEVEL_SUPPORT
	bool "GN_Q_BSP_ISA1200_LEVEL_SUPPORT"
	default y

config GN_Q_BSP_ISA1200_QPNPCLK_SUPPORT
	bool "GN_Q_BSP_ISA1200_QPNPCLK_SUPPORT"
	default y


#Power

config GN_Q_BSP_BTC_CONFIG_SUPPORT
	bool "GN_Q_BSP_BTC_CONFIG_SUPPORT"
	default y

config GN_Q_BSP_CHARGE_VOLTAGE_SUPPORT
	bool "GN_Q_BSP_CHARGE_VOLTAGE_SUPPORT"
	default y

config GN_Q_BSP_PM8941_CHARGER_SUPPORT
	bool "GN_Q_BSP_PM8941_CHARGER_SUPPORT"
	default y

config GN_Q_BSP_PMIC_DISABLE_LOW_TM_INTERRUPTS_SUPPORT
	bool "GN_Q_BSP_PMIC_DISABLE_LOW_TM_INTERRUPTS_SUPPORT"
	default y

config GN_Q_BSP_PM_CHG_DEBUG_SUPPORT
	bool "GN_Q_BSP_PM_CHG_DEBUG_SUPPORT"
	default y


#RTC

config GN_Q_BSP_KERNEL_RTC_ALARM_SUPPORT
	bool "GN_Q_BSP_KERNEL_RTC_ALARM_SUPPORT"
	default y


#Screen

config GN_Q_BSP_BACKLIGHT_LM3630_SUPPORT
	bool "GN_Q_BSP_BACKLIGHT_LM3630_SUPPORT"
	default y

config GN_Q_BSP_LCD_IOVCC_CONTROL_SUPPORT
	bool "GN_Q_BSP_LCD_IOVCC_CONTROL_SUPPORT"
	default y

config GN_Q_BSP_LCD_RESET_SUPPORT
	bool "GN_Q_BSP_LCD_RESET_SUPPORT"
	default y

config GN_Q_BSP_LCD_TPS65132_SUPPORT
	bool "GN_Q_BSP_LCD_TPS65132_SUPPORT"
	default y


#Sound

config GN_Q_BSP_AUDIO_HEADSET_SUPPORT
	bool "GN_Q_BSP_AUDIO_HEADSET_SUPPORT"
	default y

config GN_Q_BSP_AUDIO_MBHC_CALIBRATION
	bool "GN_Q_BSP_AUDIO_MBHC_CALIBRATION"
	default y


#USB

config GN_Q_BSP_PM_NON_STANDARD_CHARGER_SUPPORT
	bool "GN_Q_BSP_PM_NON_STANDARD_CHARGER_SUPPORT"
	default y


#Disabled

config GN_CDROM_SUPPORT
	bool "GN_CDROM_SUPPORT"
	default n
	
config GN_Q_BSP_BMS_OPTIMIZE_PHONE_RESTART_SOC_SUPPORT
	bool "GN_Q_BSP_BMS_OPTIMIZE_PHONE_RESTART_SOC_SUPPORT"
	default n

config GN_Q_BSP_BMS_OPTIMIZE_SOC_SUPPORT
	bool "GN_Q_BSP_BMS_OPTIMIZE_SOC_SUPPORT"
	default n

config GN_Q_BSP_DEVICE_TYPE_CHECK_SUPPORT
	bool "GN_Q_BSP_DEVICE_TYPE_CHECK_SUPPORT"
	default n

config GN_Q_BSP_ENFORCE_EMMC_TIMEOUT_SUPPORT
	bool "GN_Q_BSP_ENFORCE_EMMC_TIMEOUT_SUPPORT"
	default n

config GN_Q_BSP_LK_DISABLE_EMMC_HS400
	bool "GN_Q_BSP_LK_DISABLE_EMMC_HS400"
	default n

config GN_Q_BSP_NO_DOWNLOAD_MODE
	bool "GN_Q_BSP_NO_DOWNLOAD_MODE"
	default n

config GN_Q_BSP_OPTIMIZE_SOC_SUPPORT
	bool "GN_Q_BSP_OPTIMIZE_SOC_SUPPORT"
	default n

config GN_Q_BSP_OVP_9P5V_SUPPORT
	bool "GN_Q_BSP_OVP_9P5V_SUPPORT"
	default n

config GN_Q_BSP_PM_BMS_LOG_SUPPORT
	bool "GN_Q_BSP_PM_BMS_LOG_SUPPORT"
	default n

endmenu
